body {
    background-color: #f0f0f0;
    font-family: Arial;
    text-align: center;
    margin-top: 60px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #0056b3;
}
