body {
    background-color: #ffffff;
    font-family: Arial;
    text-align: center;
    margin-top: 300px;
    transition: background-color 0.5s;
}

button {
    color: rgb(3, 3, 3);
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
}

/* tombol merah */
.red {
    background-color: #ff0000;
}

/* tombol biru */
.blue {
    background-color: #0056b3;
}

/* tombol hijau */
.green {
    background-color: #12c518;
}
 
.reset {
    background-color: #e9e9e9;
    color: rgb(3, 3, 3);
    margin-top: 20px;
}
